td.line-data {
	width: 100%;
}
body {
	line-height: 2em;
}

nav a, nav a:visited{ color: #666; }

nav a:hover{ color: #29abe2; }


 /* Pager */
nav ul.pagination{
  font-size: 0;
  text-align: center;
  margin: 0;
}

nav ul.pagination li{
  display: inline-block;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px 10px;
  margin: 0 3px;
}

nav ul.pagination li.active{
  border: 2px solid #29abe2;
}

nav ul.pagination li:hover{
  border-color: #29abe2;
}

 /* Pagination */
nav.pagination {
  padding: 20px 0 20px 0;
  overflow: hidden;
}
nav.pagination span.previous {
  float:left;
  padding: 10px 0 10px 0;
  max-width: 300px;
}
nav.pagination span.next {
  float:right;
  padding: 10px 0 10px 0;
  max-width: 300px;
}
nav.pagination a {
  color: #29abe2;
}

 /*social icon*/
#social-icon a {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	padding: 0;
	color: #fff;
}

#social-icon i {
	width: 45px;
	height: 45px;
	margin: 0;
	background: #666;
	line-height: 0;
	text-align: center;
}

	#social-icon i:before {
		padding: 0;
		line-height: 45px;
	}

#social-icon a:hover .fa-twitter {
	background: #55acee;
}

#social-icon a:hover .fa-skype {
	background: #12a5f4;
}

#social-icon a:hover .fa-envelope {
	background: #79bd28;
}

#social-icon a:hover .fa-github-alt {
	background: #ff5722;
}

#social-icon a:hover .fa-rss {
	background: #ff8c00;
}

#social-icon a:hover .fa-amazon {
	background: #ff9900;
}

#social-icon a:hover .fa-bitbucket {
	background: #205081;
}

#social-icon a:hover .fa-link {
	background: #1793d1;
}

#social-icon a:hover .fa-search {
	background: #4cb10d
}
