body {
	font-family: "Roboto","Noto Sans Japanese","Hiragino Kaku Gothic Pro",sans-serif;
	font-style: normal;
	width: 100%;
	height: 100%;
	color: #202020;
	background-color: #f0f0f0;
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 100%;
	max-width: 20em;
	margin: -5em -10em;
	text-align: center;
}

h1 a {
	font-size: 3em;
	line-height: 3em;
	position: relative;
	display: block;
	overflow: hidden;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	-webkit-animation: logo .25s ease-out 2.4s 1 normal forwards;
	-moz-animation: logo .25s ease-out 2.4s 1 normal forwards;
	-o-animation: logo .25s ease-out 2.4s 1 normal forwards;
	animation: logo .25s ease-out 2.4s 1 normal forwards;
	opacity: 0;
	color: transparent;
	border: 0 solid #39f;
	border-radius: 50%;
	background-color: #303132;
}

	h1 a:hover, h1 a:focus {
		background-color: #39f;
	}

	h1 a:active {
		-webkit-transform: scale(.8);
		-moz-transform: scale(.8);
		-ms-transform: scale(.8);
		-o-transform: scale(.8);
		transform: scale(.8);
	}

@keyframes logo {
	0% {
		-webkit-transform: rotate(25deg) scale(.01);
		-moz-transform: rotate(25deg) scale(.01);
		-ms-transform: rotate(25deg) scale(.01);
		-o-transform: rotate(25deg) scale(.01);
		transform: rotate(25deg) scale(.01);
		opacity: 0;
	}

	70% {
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		-ms-transform: scale(1.4);
		-o-transform: scale(1.4);
		transform: scale(1.4);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

h1 em {
	font-size: .5em;
	line-height: 1em;
	position: absolute;
	top: .5em;
	left: .4375em;
	display: block;
	color: #fff;
}

	h1 em:last-child {
		top: .5em;
		left: 1em;
	}

.slogan {
	font-size: 2em;
	line-height: 1.5em;
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 0;
	height: 1.25em;
	margin: 1em auto;
	-webkit-animation-name: blink-start,typing,blink-end;
	-moz-animation-name: blink-start,typing,blink-end;
	-o-animation-name: blink-start,typing,blink-end;
	animation-name: blink-start,typing,blink-end;
	-webkit-animation-duration: 1s,1.3s,1s;
	-moz-animation-duration: 1s,1.3s,1s;
	-o-animation-duration: 1s,1.3s,1s;
	animation-duration: 1s,1.3s,1s;
	-webkit-animation-timing-function: linear,steps(13,end),linear;
	-moz-animation-timing-function: linear,steps(13,end),linear;
	-o-animation-timing-function: linear,steps(13,end),linear;
	animation-timing-function: linear,steps(13,end),linear;
	-webkit-animation-delay: 0s,1s,2.5s;
	-moz-animation-delay: 0s,1s,2.5s;
	-o-animation-delay: 0s,1s,2.5s;
	animation-delay: 0s,1s,2.5s;
	-webkit-animation-iteration-count: 1,1,infinite;
	-moz-animation-iteration-count: 1,1,infinite;
	-o-animation-iteration-count: 1,1,infinite;
	animation-iteration-count: 1,1,infinite;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
	-o-animation-direction: normal;
	animation-direction: normal;
	border-right: .125em solid #39f;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

	.slogan span {
		display: block;
		width: 7em;
	}

@keyframes typing {
	0% {
		width: 0;
	}

	45% {
		width: 4.5em;
		border-color: transparent;
	}

	55% {
		border-color: #39f;
	}

	65% {
		width: 4.5em;
	}

	100% {
		width: 7em;
	}
}

@keyframes blink-start {
	from,to {
		border-color: #39f;
	}

	50% {
		border-color: transparent;
	}
}

@keyframes blink-end {
	from,to {
		border-color: #39f;
	}

	50% {
		border-color: transparent;
	}
}

.contact {
	position: relative;
	width: 20em;
	margin: -1em auto 1.5em auto;
}

	.contact a {
		font-size: 1.5em;
		line-height: 2em;
		display: inline-block;
		overflow: hidden;
		width: 2em;
		margin: 0 .20em;
		-webkit-transition: background-color .2s ease-in-out;
		-moz-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		-webkit-animation: icons .2s ease-out 0s 1 normal forwards;
		-moz-animation: icons .2s ease-out 0s 1 normal forwards;
		-o-animation: icons .2s ease-out 0s 1 normal forwards;
		animation: icons .2s ease-out 0s 1 normal forwards;
		opacity: 0;
		color: #555;
		border-radius: 50%;
	}

@-moz-keyframes icons {
	0% {
		-webkit-transform: translateY(3em);
		-moz-transform: translateY(3em);
		-ms-transform: translateY(3em);
		-o-transform: translateY(3em);
		transform: translateY(3em);
		opacity: 0;
	}

	70% {
		-webkit-transform: translateY(-.5em);
		-moz-transform: translateY(-.5em);
		-ms-transform: translateY(-.5em);
		-o-transform: translateY(-.5em);
		transform: translateY(-.5em);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes icons {
	0% {
		-webkit-transform: translateY(3em);
		-moz-transform: translateY(3em);
		-ms-transform: translateY(3em);
		-o-transform: translateY(3em);
		transform: translateY(3em);
		opacity: 0;
	}

	70% {
		-webkit-transform: translateY(-.5em);
		-moz-transform: translateY(-.5em);
		-ms-transform: translateY(-.5em);
		-o-transform: translateY(-.5em);
		transform: translateY(-.5em);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes icons {
	0% {
		-webkit-transform: translateY(3em);
		-moz-transform: translateY(3em);
		-ms-transform: translateY(3em);
		-o-transform: translateY(3em);
		transform: translateY(3em);
		opacity: 0;
	}

	70% {
		-webkit-transform: translateY(-.5em);
		-moz-transform: translateY(-.5em);
		-ms-transform: translateY(-.5em);
		-o-transform: translateY(-.5em);
		transform: translateY(-.5em);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.contact a:nth-child(1) {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.contact a:nth-child(2) {
	-webkit-animation-delay: 2.55s;
	-moz-animation-delay: 2.55s;
	-o-animation-delay: 2.55s;
	animation-delay: 2.55s;
}

.contact a:nth-child(3) {
	-webkit-animation-delay: 2.6s;
	-moz-animation-delay: 2.6s;
	-o-animation-delay: 2.6s;
	animation-delay: 2.6s;
}

.contact a:nth-child(4) {
	-webkit-animation-delay: 2.65s;
	-moz-animation-delay: 2.65s;
	-o-animation-delay: 2.65s;
	animation-delay: 2.65s;
}

.contact a:hover {
	color: #39f;
}
