body {
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	color: #eee;
	background-color: #304767;
}

a {
	color: #eee;
	text-decoration: none;
	font-weight: 100;
}

h2 {
	font-weight: 100;
}

section {
	text-align: center;
}

section:nth-child(2n) {
		color: #666;
		background-color: #f5f5f5;
	}

hr {
	border: 0;
	border-top: 1px solid #666;
	max-width: 800px;
	margin: 0 30px;
}

footer {
	padding: 25px 0;
}
/*====================
		HEAD
====================*/
.head-wrapper {
	padding: 120px 0 60px;
}

	.head-wrapper img {
		height: 180px;
		margin-bottom: 60px;
		vertical-align: middle;
		border-radius: 50%;
		-webkit-border-image: none;
		-moz-border-image: none;
		-o-border-image: none;
		border-image: none;
	}

	.head-wrapper h2 {
		font-size: 2.4rem;
		margin-bottom: 20px;
		font-weight: 100;
	}

	.head-wrapper .vio {
		font-size: 1.5rem;
		margin-bottom: 30px;
	}

	.head-wrapper ul {
		display: flex;
		justify-content: center;
	}

	.head-wrapper li {
		display: flex;
		justify-content: center;
		margin: 0 15px;
	}
/*====================
		Skills
====================*/
.skills-wrapper {
	padding: 25px 0;
}

	.skills-wrapper h2 {
		font-size: 2.4rem;
		margin-bottom: 20px;
	}

.skills-card .chart {
	position: relative;
	display: inline-block;
	margin: 20px 10px;
	color: #666;
	font-size: 14px;
	width: 140px;
	height: 140px;
	line-height: 140px;
}

	.skills-card .chart canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 140px;
		height: 140px;
	}
/*====================
		About1
====================*/
.about1-wrapper {
	padding: 50px 0 25px;
	text-align: center;
	color: #eee;
}

	.about1-wrapper p {
		font-size: 21px;
		margin-bottom: 20px;
	}
/*====================
		History
====================*/
.history-wrapper {
	padding: 25px 0;
	margin: 0 auto;
}

	.history-wrapper h2 {
		font-size: 2.4rem;
	}


.timeline {
	border-left: 4px solid #88c6bc;
	margin: 50px 50px 50px auto;
	letter-spacing: 0.5px;
	position: relative;
	line-height: 1.4em;
	font-size: 1.03em;
	padding: 30px;
	list-style: none;
	text-align: left;
	max-width: 50%;
}

	.timeline h3 {
		font-family: 'Oswald', sans-serif;
		letter-spacing: 1.5px;
		font-weight: 100;
		font-size: 1.4em;
	}

	.timeline .event {
		border-bottom: 1px dashed #88c6bc;
		padding-bottom: 25px;
		margin-bottom: 50px;
		position: relative;
		max-width: 300px;
	}

		.timeline .event:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
			border: none;
		}

		.timeline .event:before,
		.timeline .event:after {
			position: absolute;
			display: block;
			top: 0;
		}

		.timeline .event:before {
			left: -217.5px;
			color: #717171;
			content: attr(data-date);
			text-align: right;
			font-weight: 400;
			font-size: 0.9em;
			min-width: 120px;
		}

		.timeline .event:after {
			box-shadow: 0 0 0 4px #88c6bc;
			left: -57.85px;
			border-radius: 50%;
			height: 11px;
			width: 11px;
			content: "";
			top: 5px;
		}

@media (max-width: 658px) {

	.timeline {
		margin: 50px auto;
	}

	.timeline .event:before {
		left: -0.5px;
		top: 40px;
		background-color: #4298c3;
		color: white;
		margin-top: 8px;
		padding: 2px 8px 2px 8px;
		content: attr(data-date);
		text-align: right;
		font-weight: 400;
		font-size: 0.9em;
		min-width: 20px;
	}

	.timeline .event p {
		top: 27px;
		padding: 50px 0 10px;
		position: relative;
	}
}

/*====================
		About2
====================*/
.about2-wrapper {
	padding: 50px 0 25px;
	text-align: center;
	color: #eee;
}

	.about2-wrapper p {
		font-size: 21px;
		margin-bottom: 20px;
	}
/*====================
		Portfolio
====================*/
.portfolio-wrapper {
	padding: 25px 0;
}

	.portfolio-wrapper h2 {
		font-size: 2.4rem;
		margin-bottom: 20px;
	}
