:root {
	font-size: 24px;
}
body {
	color: rgb(102, 102, 102); line-height: 1rem; letter-spacing: 1px; font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; font-size: 0.58rem; background-color: rgb(245, 245, 245);
}
.container {
	padding: 0px;
}
h1 {
	font-size: 0.81rem;
}
h2 {
	font-size: 0.7rem;
}
h3 {
	font-size: 0.66rem;
}
h4 {
	font-size: 0.66rem;
}
h5 {
	font-size: 0.66rem;
}
h6 {
	font-size: 0.66rem;
}
header a {
	color: rgb(102, 102, 102);
}
header a:visited {
	color: rgb(102, 102, 102);
}
main#index a {
	color: rgb(102, 102, 102);
}
main#index a:visited {
	color: rgb(102, 102, 102);
}
main#list a {
	color: rgb(102, 102, 102);
}
main#list a:visited {
	color: rgb(102, 102, 102);
}
article a {
	color: rgb(41, 171, 226);
}
article a:visited {
	color: rgb(41, 171, 226);
}
footer a {
	color: rgb(41, 171, 226);
}
article a:visited {
	color: rgb(41, 171, 226);
}
header a:hover {
	color: rgb(41, 171, 226);
}
article a:hover {
	color: rgb(41, 171, 226);
}
/* #user */
main#user {
	text-align: center;
}
main#user h1 {
	margin-top: 22px; margin-bottom: 11px;font-size: 32px; font-weight: 300; line-height:1.2;
}
main#user img {
	width:auto; box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
}
/* #about */
main#about {
	max-width: 800px; margin: 0px auto; padding: 0px 20px;
}
main#about h1 {
	margin-top: 22px; margin-bottom: 11px;font-size: 32px; font-weight: 300; line-height:1.2;
}
/* #error */
main#error {
	text-align: center;
}
main#error h1 {
	margin-top: 22px; margin-bottom: 11px;font-size: 32px; font-weight: 300; line-height:1.2;
}
/* #index */
main#index {
	max-width: 800px; margin: 0px auto; padding: 0px 20px;
}
main#index a {
	color: rgb(41, 171, 226);
}
main#index a:hover {
	color: rgb(41, 171, 226);
}
main#list a:hover {
	color: rgb(41, 171, 226);
}
nav a:hover {
	color: rgb(41, 171, 226);
}
main#index .meta a {
	color: rgb(153, 153, 153);
}
/* #list */
main#list {
	max-width: 800px; margin: 0px auto; padding: 0px 20px;
}
main#list .meta a {
	color: rgb(153, 153, 153);
}
/* #single */
main#single {
	max-width: 800px; margin: 0px auto; padding: 0px 20px;
}
main#single .meta a {
	color: rgb(153, 153, 153);
}
main#index .meta a:hover {
	color: rgb(41, 171, 226);
}
main#list .meta a:hover {
	color: rgb(41, 171, 226);
}
main#single .meta a:hover {
	color: rgb(41, 171, 226);
}
article a:hover {
	text-decoration: underline;
}
footer a:hover {
	text-decoration: underline;
}
ul {
	margin: 1rem 0px 1rem 1.5rem;
}
ol {
	margin: 1rem 0px 1rem 1.5rem;
}
pre {
	margin: 1rem 0px;
}
table {
	margin: 1rem 0px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
th {
	padding: 2px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(238, 238, 238);
}
td {
	padding: 2px 10px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
img {
	border: 0px currentColor; border-image: none; height: auto; vertical-align: middle; max-width: 100%;
}
.button {
	padding: 4px 7px 3px; border-radius: 3px; transition:0.3s; font-size: 0.5rem; background-color: rgb(51, 51, 51); -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease;
}
.button {
	color: rgb(255, 255, 255);
}
.button:hover {
	color: rgb(255, 255, 255); background-color: rgb(41, 171, 226);
}
header {
	padding: 1rem 0px; margin-bottom: 1rem; background-color: rgb(255, 255, 255);
}
header h2 {
	font-size: 0.5rem;
}
header #social {
	text-align: right;
}
header #social ul {
	margin: 0px; font-size: 0px; text-align: center;
}
header #social li {
	padding: 0px 0.5rem; font-size: 16px; display: inline-block;
}
header #social li:first-child {
	padding-left: 0px;
}
header #social li + li {
	/*border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid;*/
}
header #social li:last-child {
	padding-right: 0px;
}
@media all and (max-width:767px)
{
header h1 {
	width: 100%; text-align: center;
}
header h2 {
	width: 100%; text-align: center;
}
}
@media all and (max-width:767px)
{
header #social {
	text-align: center; margin-top: 1rem;
}
}
#disqus_thread {
	margin-top: 3rem;
}
footer {
	margin: 3rem 0px; padding: 1rem 0px;
}
footer img {
	border-radius: 32px; margin-bottom: 10px; -moz-border-radius: 32px; -webkit-border-radius: 32px;
}
@media all and (max-width:767px)
{
footer {
	margin: 2rem 0px;
}
}
article h1 {
	margin: 1rem 0px;
}
article h2 {
	margin: 2rem 0px 1rem; padding-bottom: 0.5rem; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
article h3 {
	margin: 2rem 0px 1rem;
}
article h4 {
	margin: 2rem 0px 1rem;
}
article h5 {
	margin: 2rem 0px 1rem;
}
article h6 {
	margin: 2rem 0px 1rem;
}
article p {
	margin: 1rem 0px;
}
article code {
	margin: 0px 3px; padding: 0px 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(51, 51, 51); font-family: consolas, "Courier New", monospace; background-color: rgb(238, 238, 238);
}
article pre code {
	font-family: consolas, "Courier New", monospace;
}
article blockquote {
	margin: 1rem 0px; padding-left: 1rem; font-style: italic; border-left-color: rgb(204, 204, 204); border-left-width: 4px; border-left-style: solid;
}
.article-header {
	margin: 0px 0px 1rem -4px; padding: 5px 0px 5px 10px; border-left-color: rgb(41, 171, 226); border-left-width: 4px; border-left-style: solid;
}
.light-gray {
	color: rgb(153, 153, 153);
}
.summary {
	padding-bottom: 1rem; font-size: 0.5rem; margin-bottom: 1rem; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.meta {
	color: rgb(153, 153, 153); font-size: 0.5rem;
}
.summary .meta {
	margin-bottom: 0.5rem;
}
.underline {
	text-decoration: underline;
}