@font-face {
	font-family: 'My-font';
	src: url(/assets/font/Lato-Light.ttf);
}

@font-face {
	font-family: 'Lato-Bold';
	src: url(/assets/font/Lato-Bold.ttf);
}

:root {
	font-size: 24px;
}

body {
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size: .58rem;
	letter-spacing: 1px;
	color: rgb(102, 102, 102);
	background-color: rgb(255, 255, 255);
}

a {
	color: rgb(102, 102, 102);
}

	a:hover {
		color: rgb(41, 171, 226);
	}

.container {
	padding: 0;
}

h1 {
	font-size: .81rem;
}

h2 {
	font-size: .7rem;
}

h3 {
	font-size: .66rem;
}

h4 {
	font-size: .66rem;
}

h5 {
	font-size: .66rem;
}

h6 {
	font-size: .66rem;
}
/*----------------------
		header
----------------------*/
.inner {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

	.inner::after {
		display: block;
		clear: both;
		content: '';
	}

header {
	padding: 1rem 0;
	text-decoration: none;
	background-color: rgb(255, 255, 255);
}

	header a {
		font-size: 23px;
		text-decoration: none;
	}


	header#top-head .inner {
		position: relative;
	}

	header#top-head .logo {
		float: left;
	}

#global-nav ul {
	position: absolute;
	right: 0;
	bottom: 0;
	list-style: none;
}

	#global-nav ul li {
		position: relative;
		float: left;
	}

		#global-nav ul li a {
			font-size: 16px;
			padding: 0 30px;
		}

#nav-toggle {
	position: absolute;
	z-index: 101;
	top: 14px;
	right: 12px;
	display: none;
	width: 34px;
	height: 36px;
	cursor: pointer;
}

	#nav-toggle div {
		position: relative;
	}

	#nav-toggle span {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		-o-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
		background: rgb(102, 102, 102);
	}

		#nav-toggle span:nth-child(1) {
			top: 0;
		}

		#nav-toggle span:nth-child(2) {
			top: 11px;
		}

		#nav-toggle span:nth-child(3) {
			top: 22px;
		}

@media screen and (max-width:980px) {
	.inner {
		width: 100%;
		padding: 0 20px;
	}

	#global-nav ul li a {
		padding: 0 20px;
	}
}

@media screen and (max-width:640px) {
	header {
		top: 0;
		width: 100%;
		margin-top: 0;
		padding: 0;
	}

	.inner {
		width: 100%;
		padding: 0;
	}

	#mobile-head {
		position: relative;
		z-index: 999;
		width: 100%;
		height: 56px;
		background: rgb(255, 255, 255);
	}

	#top-head .logo {
		font-size: .81rem;
		position: absolute;
		top: 13px;
		left: 13px;
	}

	#global-nav {
		position: absolute;
		top: -500px;
		width: 100%;
		padding: 5px 0;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		text-align: center;
		background: rgba(233, 235, 235, .9);
	}

		#global-nav ul {
			font-size: 11px;
			position: static;
			right: 0;
			bottom: 0;
			list-style: none;
		}

			#global-nav ul li {
				position: static;
				float: none;
			}

				#global-nav ul li::after {
					display: none;
				}

	#top-head #global-nav ul li a {
		line-height: 1px;
		display: block;
		width: 100%;
		/*Ç±Ç±navÇÃçÇÇ≥*/
		padding: 17px 0;
	}

	#nav-toggle {
		display: block;
	}

	.open #nav-toggle span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		-ms-transform: rotate(315deg);
		-o-transform: rotate(315deg);
		transform: rotate(315deg);
	}

	.open #nav-toggle span:nth-child(2) {
		left: 50%;
		width: 0;
	}

	.open #nav-toggle span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		-ms-transform: rotate(-315deg);
		-o-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}

	.open #global-nav {
		-webkit-transform: translateY(556px);
		-moz-transform: translateY(556px);
		-ms-transform: translateY(556px);
		-o-transform: translateY(556px);
		transform: translateY(556px);
	}
}
/*----------------------
		main
----------------------*/

/*----------------------
		section
----------------------*/

/*----------------------
	section-header
----------------------*/
section#section-header {
	padding: 30px 0 32px;
	color: rgb(255, 255, 255);
	font-family: My-font;
}

h1.section-header-title {
	font-family: My-font;
	font-size: 300%;
	font-weight: 300;
	margin: 0 0 1em 0;
}

	h1.section-header-title:after {
		display: block;
		width: 18px;
		height: 1px;
		margin-top: .2em;
		content: '';
		background-color: rgb(255, 255, 255);
	}

p.section-header-msg {
	font-size: 22px;
	text-align: left;
}
/*----------------------
	section-content
----------------------*/
section#section-content {
	padding: 25px 0;
}

@media screen and (max-width:640px) {
	section#section-content {
		text-align: center;
	}
}
/*----------------------
		profile
----------------------*/
img#profile-img {
	max-width: 100%;
	height: 180px;
	margin-bottom: 10px;
	margin-top: 11px;
	vertical-align: middle;
	border-radius: 50%;
	-webkit-border-image: none;
	-moz-border-image: none;
	-o-border-image: none;
	border-image: none;
}

p#profile-name {
	font-family: Lato-bold;
	font-size: 23px;
	font-weight: 300;
	margin-top: 11px;
}

p#profile-bio {
	font-family: My-font;
	font-size: 20px;
	margin-top: 10px;
}
/*----------------------
		works
----------------------*/
.mobileHidden {
	display: none;
}

@media screen and (min-width:520px) {
	.desktopHidden {
		display: none;
	}

	.mobileHidden {
		display: inline;
	}
}

/*----------------------
	works frainworks
----------------------*/
#frainworks {
	margin-bottom: 1.5rem;
}

div#frainworks h2 {
	font-family: My-font;
	font-size: 23px;
	font-weight: 300;
}

div#frainworks img {
	margin: 5px 0;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width:520px) {
	#frainworks {
	}

	div#frainworks img {
		width: 180px;
	}
}

/*----------------------
	works oauthio demo
----------------------*/
#oauthio {
	margin-bottom: 1.5rem;
}

div#oauthio h2 {
	font-family: My-font;
	font-size: 23px;
	font-weight: 300;
}

div#oauthio img {
	margin: 5px 0;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width:520px) {
	div#oauthio img {
		width: 180px;
	}
}

/*----------------------
	works hastebin clone
----------------------*/
#hastebin {
	margin-bottom: 1.5rem;
}

div#hastebin h2 {
	font-family: My-font;
	font-size: 23px;
	font-weight: 300;
}

div#hastebin img {
	margin: 5px 0;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width:520px) {
	div#hastebin img {
		width: 180px;
	}
}
/*----------------------
		footer
----------------------*/
footer {
	margin: 3rem 0;
	padding: 1rem 0;
}

	footer img {
		margin-bottom: 10px;
		-webkit-border-radius: 32px;
		-moz-border-radius: 32px;
		border-radius: 32px;
	}

@media all and (max-width:767px) {
	footer {
		margin: 2rem 0;
	}
}
/*----------------------
		Other
----------------------*/
.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

.blue {
	background-color: rgb(117,177, 214);
}

.white {
	background-color: rgb(255, 255, 255);
}

.gray {
	background-color: rgb(245, 245, 245);
}

.social-icon {
	margin-top: 10px;
}

	.social-icon a {
		display: block;
		float: left;
		padding: 0;
		color: rgb(102, 102, 102);
	}

	.social-icon i {
		line-height: 50px;
		width: 50px;
		height: 50px;
		margin: 0;
		text-align: center;
		border: 1px solid rgb(102, 102, 102);
		border-radius: 50%;
	}

		.social-icon i:before {
			line-height: 50px;
			padding: 0;
		}

	.social-icon a:hover i {
		background: #f7f7f7;
	}
/*.social-icon a:hover .fa-twitter {
	background: rgb(85, 172, 238);
}

.social-icon a:hover .fa-github{
	background: rgb(255, 153, 51);
}*/
