body {
	font-family: 'Muli',sans-serif;
	text-align: center;
	color: rgba(0,0,0,.8);
}

a {
	color: rgba(0,0,0,.8);
}

main#me {
	position: absolute;
	top: 25%;
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: 20px;
}

.underline {
	text-decoration: underline;
}
